<div class="content">
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div data-close="true" class="alert success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div data-close="true" class="alert info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div data-close="true" class="alert warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div data-close="true" class="alert error">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>