{% extends 'baseAdmin.html.twig' %}

{% block titleh1 %}Accueil{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#menuAccueil').addClass('selected');
        });
    </script>
{% endblock %}