.container::after {
  content: '';
  display: table;
  clear: both;
}

.timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.timeline::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  .timeline:not(.small) {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .timeline:not(.small)::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline:not(.small) .timeline-block {
    margin: 4em 0;
  }
  .timeline:not(.small) .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline:not(.small) .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1F2C36;
}
.timeline-img i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
  color: #fff;
  font-size: 23px;
}
@media only screen and (min-width: 1170px) {
  .timeline:not(.small) .timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  padding: 1em;
}
.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-content h2 {
  color: #303e49;
}
.timeline-content .date {
  display: inline-block;
}
.timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.timeline-content .date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid rgba(0,0,0,0.4);
}
@media only screen and (min-width: 1170px) {
  .timeline:not(.small) .timeline-content {
    margin-left: 0;
    width: 45%;
  }
  .timeline:not(.small) .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: rgba(0,0,0,0.4);
  }
  .timeline:not(.small) .timeline-content .read-more {
    float: left;
  }
  .timeline:not(.small) .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
  }
  .timeline:not(.small) .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline:not(.small) .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: rgba(0,0,0,0.4);
  }
  .timeline:not(.small) .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  .timeline:not(.small) .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}